PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/tuition_management
JWT_SECRET=apex_super_secret_jwt_key_2026_tuition_pro
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:3000

# Institute Metadata for Invoices & Receipts
INSTITUTE_NAME=Apex Coaching Institute
INSTITUTE_EMAIL=contact@apexcoaching.com
INSTITUTE_PHONE=+91 98765 43210
INSTITUTE_ADDRESS=Plot 12, Knowledge Park III, Greater Noida, UP, 201310
INSTITUTE_LOGO_URL=/logo.png
