# dependencies
/node_modules
/.pnpm
/.yarn

# next.js build output
/.next/
/out/

# production
/build
/dist

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts